*{
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 14px;
}
body {
  height: 100%;
  color: #333;
  min-width: 1240px;
}
html,
body,
ul,
h1,
h3,
h4,
p,
dl,
dd {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: #333;
  outline: none;
}
i {
  font-style: normal;
}
ul {
  list-style: none;
}

.page_content{
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  margin-top:30px ;
}
.flex{
  display: flex;
}